In [1]:
import pandas as pd
import numpy as np

In [8]:
# Creating a dummy dataset
data = {
'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
'Age': [25, 30, 35, 40, 45],
'Salary': [50000, 60000, 70000, 80000, 90000],
'Department': ['HR', 'IT', 'Finance', 'HR', 'IT'],
'Start_Date': pd.to_datetime(['2020-01-01', '2019-03-15', '2021-05-20', '2018-09-10', '2022-02-28']),
'Experience': [5, 10, 3, 15, 2],
'Rating': [4.2, 3.8, 4.5, 4.0, 4.7]
}

In [11]:
df = pd.DataFrame(data)
df

      Name  Age  Salary Department Start_Date  Experience  Rating
0    Alice   25   50000         HR 2020-01-01           5     4.2
1      Bob   30   60000         IT 2019-03-15          10     3.8
2  Charlie   35   70000    Finance 2021-05-20           3     4.5
3    David   40   80000         HR 2018-09-10          15     4.0
4      Eve   45   90000         IT 2022-02-28           2     4.7

Question 1: Selecting a Subset of the DataFrame

Let's select employees who are older than 30:

In [12]:
subset = df[df['Age'] > 30]
print(subset)

      Name  Age  Salary Department Start_Date  Experience  Rating
2  Charlie   35   70000    Finance 2021-05-20           3     4.5
3    David   40   80000         HR 2018-09-10          15     4.0
4      Eve   45   90000         IT 2022-02-28           2     4.7

Question 2: Creating New Columns Derived from Existing Columns

Let's create a new column called "Age_Group" based on the age of the employees:

In [13]:
df['Age_Group'] = np.where(df['Age'] > 30, 'Above 30', '30 and Below')
print(df)

      Name  Age  Salary Department Start_Date  Experience  Rating  \
0    Alice   25   50000         HR 2020-01-01           5     4.2
1      Bob   30   60000         IT 2019-03-15          10     3.8
2  Charlie   35   70000    Finance 2021-05-20           3     4.5
3    David   40   80000         HR 2018-09-10          15     4.0
4      Eve   45   90000         IT 2022-02-28           2     4.7

      Age_Group
0  30 and Below
1  30 and Below
2      Above 30
3      Above 30
4      Above 30

Question 3: Calculating Summary Statistics

Let's calculate summary statistics for the numerical columns in the DataFrame:

In [14]:
summary_stats = df.describe()
print(summary_stats)

             Age        Salary           Start_Date  Experience    Rating
count   5.000000      5.000000                    5     5.00000  5.000000
mean   35.000000  70000.000000  2020-04-14 19:12:00     7.00000  4.240000
min    25.000000  50000.000000  2018-09-10 00:00:00     2.00000  3.800000
25%    30.000000  60000.000000  2019-03-15 00:00:00     3.00000  4.000000
50%    35.000000  70000.000000  2020-01-01 00:00:00     5.00000  4.200000
75%    40.000000  80000.000000  2021-05-20 00:00:00    10.00000  4.500000
max    45.000000  90000.000000  2022-02-28 00:00:00    15.00000  4.700000
std     7.905694  15811.388301                  NaN     5.43139  0.364692

Question 4: Reshaping the Layout of Tables

Let's reshape the DataFrame to have "Name" as the index and "Department" as columns, with
"Salary" as values:

In [15]:
reshaped_df = df.pivot_table(index='Name', columns='Department', values='Salary')
print(reshaped_df)

Department  Finance       HR       IT
Name
Alice           NaN  50000.0      NaN
Bob             NaN      NaN  60000.0
Charlie     70000.0      NaN      NaN
David           NaN  80000.0      NaN
Eve             NaN      NaN  90000.0

Question 5: Combining Data from Multiple Tables

Let's create another DataFrame with bonus information and merge it with the original
DataFrame:

In [16]:
# Creating another DataFrame with bonus information
bonus_data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Bonus': [5000, 7000, 9000, 8000, 5000]
}
bonus_df = pd.DataFrame(bonus_data)

# Merging bonus information with the original DataFrame
merged_df = pd.merge(df, bonus_df, on='Name')
print(merged_df)

      Name  Age  Salary Department Start_Date  Experience  Rating  \
0    Alice   25   50000         HR 2020-01-01           5     4.2
1      Bob   30   60000         IT 2019-03-15          10     3.8
2  Charlie   35   70000    Finance 2021-05-20           3     4.5
3    David   40   80000         HR 2018-09-10          15     4.0
4      Eve   45   90000         IT 2022-02-28           2     4.7

      Age_Group  Bonus
0  30 and Below   5000
1  30 and Below   7000
2      Above 30   9000
3      Above 30   8000
4      Above 30   5000

Question 6: Manipulating Textual Data

Let's create a new column based on the length of the employee's name:

In [17]:
df['Name_Length'] = df['Name'].apply(len)
print(df)

      Name  Age  Salary Department Start_Date  Experience  Rating  \
0    Alice   25   50000         HR 2020-01-01           5     4.2
1      Bob   30   60000         IT 2019-03-15          10     3.8
2  Charlie   35   70000    Finance 2021-05-20           3     4.5
3    David   40   80000         HR 2018-09-10          15     4.0
4      Eve   45   90000         IT 2022-02-28           2     4.7

      Age_Group  Name_Length
0  30 and Below            5
1  30 and Below            3
2      Above 30            7
3      Above 30            5
4      Above 30            3

Question 7: Filtering Data Based on Multiple Conditions

Let's filter the DataFrame to include only employees from the IT department who are older
than 30:

In [18]:
filtered_df = df[(df['Department'] == 'IT') & (df['Age'] > 30)]
print(filtered_df)

  Name  Age  Salary Department Start_Date  Experience  Rating Age_Group  \
4  Eve   45   90000         IT 2022-02-28           2     4.7  Above 30

   Name_Length
4            3

Question 8: Creating a New Column Based on Conditions

Let's create a new column called "Performance" based on the employee's rating:

In [19]:
df['Performance'] = np.where(df['Rating'] > 4.0, 'High', 'Low')
print(df)

      Name  Age  Salary Department Start_Date  Experience  Rating  \
0    Alice   25   50000         HR 2020-01-01           5     4.2
1      Bob   30   60000         IT 2019-03-15          10     3.8
2  Charlie   35   70000    Finance 2021-05-20           3     4.5
3    David   40   80000         HR 2018-09-10          15     4.0
4      Eve   45   90000         IT 2022-02-28           2     4.7

      Age_Group  Name_Length Performance
0  30 and Below            5        High
1  30 and Below            3         Low
2      Above 30            7        High
3      Above 30            5         Low
4      Above 30            3        High

Question 9: Calculating Group-Wise Summary Statistics

Let's calculate the mean salary and experience for each department:

In [20]:
grouped_stats = df.groupby('Department').agg({'Salary': 'mean', 'Experience': 'mean'})
print(grouped_stats)

             Salary  Experience
Department
Finance     70000.0         3.0
HR          65000.0        10.0
IT          75000.0         6.0

Question 10: Sorting Data

Let's sort the DataFrame by age in descending order:

In [21]:
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)

      Name  Age  Salary Department Start_Date  Experience  Rating  \
4      Eve   45   90000         IT 2022-02-28           2     4.7
3    David   40   80000         HR 2018-09-10          15     4.0
2  Charlie   35   70000    Finance 2021-05-20           3     4.5
1      Bob   30   60000         IT 2019-03-15          10     3.8
0    Alice   25   50000         HR 2020-01-01           5     4.2

      Age_Group  Name_Length Performance
4      Above 30            3        High
3      Above 30            5         Low
2      Above 30            7        High
1  30 and Below            3         Low
0  30 and Below            5        High

Question 11: Concatenating DataFrames

Let's create a new DataFrame with additional employee information and concatenate it with
the original DataFrame:

In [22]:
# Creating a new DataFrame with additional employee information
additional_data = {
    'Name': ['Randhir', 'Avinash' , 'Rushi'],
    'Age': [32, 28, 42],
    'Salary': [95000, 100000, 150000],
    'Department': ['Finance', 'IT','HR'],
    'Start_Date': pd.to_datetime(['2018-08-12', '2017-10-25','2019-08-21']),
    'Experience': [10, 6, 20],
    'Rating': [4.8, 4.3, 4.9]
}
additional_df = pd.DataFrame(additional_data)

# Concatenating additional information with the original DataFrame
concatenated_df = pd.concat([df, additional_df], ignore_index=True)
print(concatenated_df)

      Name  Age  Salary Department Start_Date  Experience  Rating  \
0    Alice   25   50000         HR 2020-01-01           5     4.2
1      Bob   30   60000         IT 2019-03-15          10     3.8
2  Charlie   35   70000    Finance 2021-05-20           3     4.5
3    David   40   80000         HR 2018-09-10          15     4.0
4      Eve   45   90000         IT 2022-02-28           2     4.7
5  Randhir   32   95000    Finance 2018-08-12          10     4.8
6  Avinash   28  100000         IT 2017-10-25           6     4.3
7    Rushi   42  150000         HR 2019-08-21          20     4.9

      Age_Group  Name_Length Performance
0  30 and Below          5.0        High
1  30 and Below          3.0         Low
2      Above 30          7.0        High
3      Above 30          5.0         Low
4      Above 30          3.0        High
5           NaN          NaN         NaN
6           NaN          NaN         NaN
7           NaN          NaN         NaN

Question 12: Handling Missing Data

Let's introduce some missing data and fill it with the mean salary:

In [23]:
df.loc[2, 'Salary'] = np.nan
df['Salary'].fillna(df['Salary'].mean(), inplace=True)
print(df)

      Name  Age   Salary Department Start_Date  Experience  Rating  \
0    Alice   25  50000.0         HR 2020-01-01           5     4.2
1      Bob   30  60000.0         IT 2019-03-15          10     3.8
2  Charlie   35  70000.0    Finance 2021-05-20           3     4.5
3    David   40  80000.0         HR 2018-09-10          15     4.0
4      Eve   45  90000.0         IT 2022-02-28           2     4.7

      Age_Group  Name_Length Performance
0  30 and Below            5        High
1  30 and Below            3         Low
2      Above 30            7        High
3      Above 30            5         Low
4      Above 30            3        High